@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url(../utils/mixin.scssz);
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.etapes {
  padding: 2rem 1rem;
}

.menus {
  padding: 2rem 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h4 {
  margin: 0;
  padding: 0;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 3px 5px #d3d3d3;
  padding: 5px;
  position: relative;
}
header i {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  height: 0%;
  transition: all 0.5s;
}
header i:hover {
  transform: scale(1.2);
}
header h1 {
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  header h1 {
    font-size: 45px;
  }
}

.city {
  background-color: #eaeaea;
  text-align: center;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 992px) {
  .city i {
    font-size: 20px;
  }
}
.city h2 {
  font-size: 16px;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .city h2 {
    font-size: 25px;
  }
}

.reservez {
  text-align: center;
  background-color: #f6f6f6;
  padding: 21px;
  margin-bottom: 2rem;
}
.reservez h2 {
  font-size: 23px;
}
@media screen and (min-width: 992px) {
  .reservez h2 {
    font-size: 30px;
  }
}
.reservez p {
  font-size: 16px;
  font-weight: 100;
}
@media screen and (min-width: 992px) {
  .reservez p {
    font-size: 20px;
  }
}
.reservez button {
  color: white;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 32px;
  box-shadow: 1px 2px 16px -5px #000000;
  padding: 16px 20px;
  transition: transform 200ms;
  margin-top: 16px;
  margin-bottom: 25px;
  background-image: linear-gradient(180deg, #ff79da, #9356dc);
}
.reservez button:hover {
  transform: scale(1.02);
  opacity: 0.8;
}
@media screen and (min-width: 992px) {
  .reservez button {
    font-size: 20px;
  }
}

.loader {
  position: fixed;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 3s forwards;
}

.letter {
  color: #9356dc;
  margin-bottom: 150px;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  animation: flash 1.2s infinite linear;
}
.letter:nth-child(1) {
  animation-delay: 0.1s;
}
.letter:nth-child(2) {
  animation-delay: 0.2s;
}
.letter:nth-child(3) {
  animation-delay: 0.3s;
}
.letter:nth-child(4) {
  animation-delay: 0.4s;
}
.letter:nth-child(5) {
  animation-delay: 0.5s;
}
.letter:nth-child(6) {
  animation-delay: 0.6s;
}
.letter:nth-child(7) {
  animation-delay: 0.7s;
}
.letter:nth-child(8) {
  animation-delay: 0.8s;
}
.letter:nth-child(9) {
  animation-delay: 0.9s;
}
.letter:nth-child(10) {
  animation-delay: 1s;
}
.letter:nth-child(11) {
  animation-delay: 1.1s;
}

.etapes {
  counter-reset: etapes;
  padding-bottom: 3rem;
}
.etapes h2 {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .etapes h2 {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .etapes h2 {
    font-size: 30px;
    margin-bottom: 3rem;
  }
}
.etapes ol {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .etapes ol {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 992px) {
  .etapes ol {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    column-gap: 4rem;
  }
}
.etapes li {
  position: relative;
  background-color: #f6f6f6;
  padding: 22px 32px;
  border-radius: 16px;
  list-style-type: none;
  font-weight: 500;
  box-shadow: 0 3px 5px #d3d3d3;
}
@media screen and (min-width: 768px) {
  .etapes li {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .etapes li {
    width: 30%;
  }
}
.etapes li:hover {
  transform: scale(1.02);
  background-color: #f5edff;
}
.etapes li:hover i.fas {
  color: #9356dc;
}
.etapes li i.fas {
  color: #7e7e7e;
  margin-right: 1rem;
  font-size: 1.2rem;
}
.etapes li::before {
  counter-increment: etapes;
  content: counter(etapes);
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translatey(-50%);
}

.menus {
  background-color: #f6f6f6;
  padding-bottom: 4rem;
  display: grid;
  gap: 2rem;
}
.menus h2 {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .menus h2 {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .menus h2 {
    font-size: 35px;
    margin-bottom: 2rem;
  }
}
.menus .menus__cartes {
  gap: 2rem;
  display: grid;
}
@media screen and (min-width: 992px) {
  .menus .menus__cartes a {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .menus .menus__cartes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .menus .menus__cartes {
    place-items: center;
  }
}
.menus .menus__cartes .nouveau {
  position: relative;
}
.menus .menus__cartes .nouveau::before {
  content: "Nouveau";
  color: #1c9879;
  background-color: #99e2d0;
  font-weight: 500;
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 2rem;
  width: 5rem;
  display: grid;
  place-items: center;
}
.menus .menus__cartes .carte__Image {
  object-fit: cover;
  width: 100%;
  height: 14rem;
  border-radius: 1rem 1rem 0 0;
}
.menus .menus__cartes .carte__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 3px 5px #d3d3d3;
  margin-top: -2.2rem;
}
.menus .menus__cartes .carte__description h3 {
  padding: 1rem 0.5rem 0 0.5rem;
  max-width: 50%;
  margin-bottom: 0;
  font-size: 1.1rem;
}
.menus .menus__cartes .carte__description p {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  max-width: 50%;
}
.menus .menus__cartes .carte__description .heart,
.menus .menus__cartes .carte__description .heart i {
  position: absolute;
  font-size: 1.8rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.menus .menus__cartes .carte__description .fas.fa-heart {
  color: transparent;
  background-image: linear-gradient(180deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 400ms ease-in-out;
}
.menus .menus__cartes .carte__description .fas.fa-heart:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.05);
  cursor: pointer;
}

footer {
  background-color: #353535;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem 1rem;
}
@media screen and (min-width: 768px) {
  footer {
    place-items: center;
  }
}
@media screen and (min-width: 992px) {
  footer {
    place-items: baseline;
    grid-template-columns: repeat(5, 1fr);
  }
}
footer:nth-child(5) {
  margin-bottom: 2rem;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}
footer a {
  padding: 0.2rem;
  color: white;
}
footer a i {
  padding-right: 0.8rem;
}
footer .fa,
footer .fas {
  width: 16px;
  padding-right: 1.7rem;
}
footer .fa-hands-helping:before {
  font-size: 0.7rem;
}

@keyframes rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes progressif {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes flash {
  0% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
  90% {
    color: #9356dc;
    text-shadow: none;
  }
  100% {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
  }
}
.banniere img {
  width: 100%;
  max-height: 40vh;
  object-fit: cover;
  display: block;
}
@media screen and (min-width: 768px) {
  .banniere img {
    max-height: 50vh;
  }
}

.menu__title {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 1.7rem 1.7rem 0 0;
  margin-top: -2.5rem;
}
.menu__title h2 {
  font-size: 1.8rem;
  font-family: "Shrikhand", cursive;
  padding: 2rem 1rem 1rem;
  margin: 0;
}
.menu__title .heart,
.menu__title .heart i {
  position: absolute;
  font-size: 30px;
  right: 1rem;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
}
.menu__title .fas.fa-heart {
  color: transparent;
  background-image: linear-gradient(180deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 400ms ease-in-out;
}
.menu__title .fas.fa-heart:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.05);
}

.main-categorie {
  padding: 0 0.5rem;
  background-color: #f6f6f6;
}

.commandez {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 992px) {
  .commandez {
    grid-template-columns: repeat(3, 1fr);
  }
}

.commandez__categorie {
  border-radius: 1rem;
  overflow: hidden;
}
.commandez__categorie h3 {
  margin-left: 0.9rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
  font-size: 1rem;
  position: relative;
}
.commandez__categorie h3:after {
  content: "";
  width: 1.2rem;
  height: 0.2rem;
  background-color: #99e2d0;
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 2.5rem;
}
.commandez__categorie .commandez-choix {
  animation: progressif 1s;
  animation-fill-mode: both;
  display: flex;
  overflow: hidden;
  background-color: white;
  border-radius: 1rem;
  margin: 0.5rem;
  box-shadow: 0 3px 5px #d3d3d3;
}
.commandez__categorie .commandez-choix:nth-child(1) {
  animation-delay: 100ms;
}
.commandez__categorie .commandez-choix:nth-child(2) {
  animation-delay: 200ms;
}
.commandez__categorie .commandez-choix:nth-child(3) {
  animation-delay: 300ms;
}
.commandez__categorie .commandez-choix .commandez-choix__prix {
  margin-left: auto;
  display: flex;
  padding: 1rem;
  align-items: flex-end;
  font-weight: 500;
  font-size: 0.9rem;
}
.commandez__categorie .commandez-choix .commandez-choix__description {
  padding: 1rem;
  overflow: hidden;
}
.commandez__categorie .commandez-choix .commandez-choix__description h4,
.commandez__categorie .commandez-choix .commandez-choix__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}
.commandez__categorie .commandez-choix .commandez-choix__description h4 {
  font-size: 1rem;
  font-weight: 500;
}
.commandez__categorie .commandez-choix .commandez-choix__check {
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.commandez__categorie .commandez-choix .commandez-choix__check i {
  background: white;
  border-radius: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99e2d0;
}
.commandez__categorie .commandez-choix:hover {
  cursor: pointer;
}
.commandez__categorie .commandez-choix:hover .commandez-choix__check {
  margin-right: 0;
}
.commandez__categorie .commandez-choix:hover i {
  animation: rotate 0.5s ease-in-out;
}

.order {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .order {
    height: 30vh;
  }
}
.order button {
  color: white;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 32px;
  box-shadow: 1px 2px 16px -5px #000000;
  padding: 16px 20px;
  transition: transform 200ms;
  margin-top: 16px;
  margin-bottom: 25px;
  background-image: linear-gradient(180deg, #ff79da, #9356dc);
  width: 50%;
}
.order button:hover {
  transform: scale(1.02);
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .order button {
    width: 30%;
  }
}
@media screen and (min-width: 992px) {
  .order button {
    width: 25%;
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
