@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.etapes {
  padding: 2rem 1rem;
}
.menus {
  padding: 2rem 1rem;
}
a {
  text-decoration: none;
  color: inherit;
}

p,
h4 {
  margin: 0;
  padding: 0;
}
