.menus {
  background-color: #f6f6f6;
  padding-bottom: 4rem;
  h2 {
    margin-bottom: 2rem;
  }

  .menus__cartes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .nouveau {
      position: relative;
    }
    .nouveau::before {
      content: "Nouveau";
      color: #1c9879;
      background-color: $color-tertiary;
      font-weight: 500;
      position: absolute;
      right: 1rem;
      top: 1rem;
      height: 2rem;
      width: 5rem;
      display: grid;
      place-items: center;
    }
  }
  .carte {
    &__image {
      background-size: cover;
      background-position: right bottom;
      height: 16rem;
      border-radius: 1rem 1rem 0 0;
    }
    @for $i from 1 through 4 {
      &__image-#{$i} {
        background-image: url("../../images/restaurants/image-#{$i}.jpg");
      }
      &__image-2 {
        background-position: center;
      }
    }
    &__description {
      position: relative;
      background-color: white;
      border-radius: 0 0 1rem 1rem;
      @include shadow;
      h3 {
        padding: 1.2rem 0.5rem 0 0.5rem;
        max-width: 50%;
      }
      p {
        padding: 0.5rem 0.5rem 1rem 0.5rem;
        max-width: 100%;
      }
      i {
        position: absolute;
        font-size: 35px;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
      .fas {
        color: transparent;
        @include gradient;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms ease-in-out;
      }
      &:hover .fas {
        opacity: 1;
        transform: translateY(-50%);
      }
      &:hover .far-hearth {
        color: white;
      }
    }
  }
}
