@import url(../utils/mixin.scssz);
.city {
  background-color: #eaeaea;
  padding: 8px;
  @include flex-center;
  gap: 16px;
  i {
    @include desktop-only {
      font-size: 20px;
    }
  }
  .css-input {
    padding: 0px;
    font-size: 16px;
    border-width: 0px;
    background-color: inherit;
    border-style: hidden;
    border-radius: 0px;
    font-weight: 500;
    width: 8rem;
    &::placeholder {
      color: black;
      opacity: 1;
    }
    @include flex-center;

    @include desktop-only {
      width: 12rem;
    }

    &:focus {
      outline: none;
      border-color: inherit;
    }
    @include desktop-only {
      font-size: 25px;
    }
  }
}
