@import url(../utils/mixin.scssz);
.city {
  background-color: #eaeaea;
  padding: 8px;
  @include flex-center;
  gap: 16px;
  i {
    @include desktop-only {
      font-size: 20px;
    }
  }
  h2 {
    font-size: 16px;
    font-weight: 500;
    @include desktop-only {
      font-size: 25px;
    }
  }
}
