@import "../utils/variables.scss";

.etapes {
  counter-reset: etapes;
  padding-bottom: 3rem;
  & h2 {
    margin-bottom: 2rem;
    @include tablette-only {
      text-align: center;
    }
    @include desktop-only {
      font-size: 30px;
      margin-bottom: 3rem;
    }
  }
  & ol {
    display: flex;
    flex-direction: column;
    gap: 1.5 * $size-etapes;
    padding-left: 16px;
    @include tablette-only {
      justify-content: center;
      align-items: center;
      @include desktop-only {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        column-gap: 4rem;
      }
    }
  }
  & li {
    position: relative;
    background-color: $white-grey;
    padding: 22px 32px;
    border-radius: 16px;
    list-style-type: none;
    font-weight: 500;
    @include tablette-only {
      width: 50%;
    }
    @include desktop-only {
      width: 30%;
    }
    @include shadow;
    &:hover {
      @include zoom;
      background-color: #f5edff;
      & i.fas {
        color: $color-primary;
      }
    }
    & i.fas {
      color: #7e7e7e;
      margin-right: $size-etapes;
      font-size: 1.2 * $size-etapes;
    }
    &::before {
      counter-increment: etapes;
      content: counter(etapes);
      background-color: $color-primary;
      color: white;
      border-radius: 50%;
      width: 1.5 * $size-etapes;
      height: 1.5 * $size-etapes;
      display: grid;
      place-items: center;
      position: absolute;
      top: 50%;
      left: -$size-etapes;
      transform: translatey(-50%);
    }
  }
}
