@import "../utils/mixin.scss";
@import "../utils/variables.scss";
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  @include shadow;
  padding: 5px;
  position: relative;

  i {
    //**arrow**//
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    height: 0%;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }
  h1 {
    margin-bottom: 0;
    @include desktop-only {
      font-size: 45px;
    }
  }
}
